Repository syakoo/syakoo-lab: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,md,mdx,json}"
      run: pnpm exec prettier --write "{staged_files}" && git add {staged_files}
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      # TODO: ステージのファイルのみにかけたい
      run: pnpm run lint:fix && git add {staged_files}

pre-push:
  commands:
    test:
      run: pnpm run test --run

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint -e
    emoji:
      run: pnpm exec devmoji -e

chore: 🔧 add safe-chain verify and verbose logging to CI
  .github/actions/setup-safe-chain/action.yml
  .github/workflows/ci.yml
Due: none

fix: 🐛 pin safe-chain version to 1.4.1 for reproducibility
  .github/actions/setup-safe-chain/action.yml
Due: none

chore: 🔧 update Biome config and apply lint fixes
  biome.jsonc
  src/app/writings/[id]/page.tsx
  src/entities/creation/creation-card/creation-card.tsx
  src/entities/syakoo-lab-text/syakoo-lab-text.tsx
  src/entities/writing/writing-type/writing-type.ts
  src/features/home/about-site/syakoo-lab-logo-with-animation/syakoo-lab-logo-with-animation.tsx
  src/features/mdx/types.ts
  src/features/writings/related-writings-nav/writing-link/writing-link.tsx
  src/features/writings/writing-detail/mdx/choices/choices.tsx
  src/features/writings/writing-detail/mdx/link-card/link-card.tsx
  src/features/writings/writing-detail/toc/toc.tsx
  src/features/writings/writing-detail/writing-header/writing-header.tsx
  src/features/writings/writing-detail/writing-type-description/writing-type-description.tsx
  src/features/writings/writing-list/writing-block/writing-block.tsx
  src/shared/design-system/icons/book-icon.tsx
  src/shared/design-system/icons/brush-icon.tsx
  src/shared/design-system/icons/chevron-right-icon.tsx
  src/shared/design-system/icons/document-icon.tsx
  src/shared/design-system/icons/fullscreen-icon.tsx
  src/shared/design-system/icons/game-icon.tsx
  src/shared/design-system/icons/globe-icon.tsx
  src/shared/design-system/icons/heart-icon.tsx
  src/shared/design-system/icons/link-icon.tsx
  src/shared/design-system/icons/note-icon.tsx
  src/shared/design-system/icons/warn-icon.tsx
Due: format, lint

chore: 🔧 move lint check from pre-commit to pre-push
  lefthook.yml
Due: none

chore: 🔧 configure VSCode to use Biome as linter and formatter
  .vscode/extensions.json
  .vscode/settings.json
Due: format

fix: 🐛 replace deprecated quickfix.biome with source.fixAll.biome
  .vscode/settings.json
Due: format

fix: 🐛 enable noDangerouslySetInnerHtml rule with inline ignore
  biome.jsonc
  src/app/layout.tsx
Due: format, lint

fix: 🐛 disable useNodejsImportProtocol for Storybook compatibility
  biome.jsonc
  src/features/creation/creation-detail/file-view/file-view.tsx
  src/features/creation/creation-reader/to-creation-summary.ts
  src/features/writings/writing-detail/optimize-images.ts
Due: format, lint

chore: 🔧 add GitHub issue template for feature requests
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: 🔧 remove Figma design section from feature request template
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: 🐛 quote placeholder value to fix YAML syntax error
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: 🔧 exclude storybook-static and dist from TypeScript
  tsconfig.json
Due: format

chore: 🔧 remove redundant CSS Modules type declaration
  src/shared/types/css-modules.d.ts
Due: format, lint

fix: 🐛 update Storybook viewport config for v9
  .storybook/preview.ts
Due: format, lint

feat: ✨ add ImageLightbox component
  src/shared/design-system/ui/image-lightbox/image-lightbox.module.css
  src/shared/design-system/ui/image-lightbox/image-lightbox.stories.tsx
  src/shared/design-system/ui/image-lightbox/image-lightbox.tsx
  src/styles/globals.css
Due: format, lint

feat: ✨ apply ImageLightbox to illustration and writing images
  src/features/creation/creation-detail/variant-content/illustration-image.tsx
  src/features/writings/writing-detail/mdx/image/image.tsx
Due: format, lint

refactor: ♻️ change mobile detection from pointer to breakpoint
  src/shared/design-system/ui/image-lightbox/image-lightbox.stories.tsx
  src/shared/design-system/ui/image-lightbox/image-lightbox.tsx
Due: format, lint

perf: ⚡️ memoize context value in ImageLightbox
  src/shared/design-system/ui/image-lightbox/image-lightbox.tsx
Due: format, lint

chore: 🔧 upgrade Storybook to v10
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint

feat: ✨ upgrade Storybook to v10 and add Mobile viewport test
  .storybook/test-runner.ts
  src/shared/design-system/ui/image-lightbox/image-lightbox.stories.tsx
  src/shared/design-system/ui/image-lightbox/image-lightbox.tsx
Due: format, lint

fix: 🐛 resolve a11y violations in Storybook stories
  src/features/layout/header-footer-template/footer/footer.tsx
  src/features/layout/header-footer-template/header/header.tsx
  src/features/writings/writing-detail/mdx/note/note.stories.tsx
  src/features/writings/writing-detail/mdx/note/note.tsx
  src/features/writings/writing-detail/mdx/scrap/scrap.tsx
  src/shared/design-system/layout/center/center.stories.tsx
  src/shared/design-system/layout/container/container.stories.tsx
  src/shared/design-system/layout/flex/col.stories.tsx
  src/shared/design-system/layout/flex/row.stories.tsx
  src/shared/design-system/layout/spacer/spacer.stories.tsx
  src/shared/design-system/ui/fade-in/fade-in.stories.tsx
  src/shared/design-system/ui/text/text.stories.tsx
Due: format, lint

fix: 🐛 use useEffect for isMobile to avoid hydration mismatch
  src/shared/design-system/ui/image-lightbox/image-lightbox.stories.tsx
  src/shared/design-system/ui/image-lightbox/image-lightbox.tsx
Due: format, lint

chore: 🔧 ✨ SEO 設定の改善
  src/app/creations/page.tsx
  src/app/robots.ts
  src/app/writings/page.tsx
Due: format, lint

chore: 🔧 🔖 bump version to 6.1.0
  package.json
Due: format

chore(deps): 🔗 upgrade Next.js to v16 and React to v19
  biome.jsonc
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/app/creations/[id]/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/app/writings/[id]/page.tsx
  src/features/writings/writing-detail/mdx/image/image.tsx
  src/shared/design-system/layout/center/center.tsx
  src/shared/design-system/layout/flex/flex.tsx
  src/shared/design-system/ui/image-lightbox/image-lightbox.tsx
  tsconfig.json
Due: format, lint

fix: 🐛 biome バージョンを揃え、React 18 の重複解決を解消
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

fix: 🐛 narrow image src type to string instead of runtime typeof check
  src/features/writings/writing-detail/mdx/image/image.tsx
Due: format, lint

feat: ✨ ウェディングフォトの日記記事を追加
  next-env.d.ts
  public/img/writings/20260315/maboroshi.jpg
  src/contents/writings/20260315/index.mdx
Due: format, lint

chore(deps): 🔗 force axios to secure version via pnpm override
  package.json
  pnpm-lock.yaml
Due: format

chore: 🔧 fix package.json formatting for hooks
  package.json
Due: format

refactor(mdx): ♻️ move serialized content contract into entities
  src/entities/creation/models/creation.ts
  src/entities/mdx-content/models/mdx-content.ts
  src/entities/writing/models/writing.ts
  src/features/mdx/resolver.ts
  src/features/mdx/serializer.ts
  src/features/mdx/types.ts
Due: format, lint

chore(cursor): add skill to draft GitHub issues from templates
  .cursor/skills/create-github-issue/SKILL.md
Due: format

docs(cursor): align issue skill with template title and gh --body
  .cursor/skills/create-github-issue/SKILL.md
Due: format

feat: ✨ build toc data on server
  src/entities/writing/models/writing.mocks.ts
  src/entities/writing/models/writing.ts
  src/features/writings/writing-detail/mdx/section-title/heading-anchor-resolver.ts
  src/features/writings/writing-detail/mdx/section-title/markup-section-title-plugin.ts
  src/features/writings/writing-detail/toc/toc.stories.tsx
  src/features/writings/writing-detail/toc/toc.tsx
  src/features/writings/writing-detail/writing-detail.tsx
  src/features/writings/writing-reader/read-writing.ts
  src/features/writings/writing-reader/toc-resolver.test.ts
  src/features/writings/writing-reader/toc-resolver.ts
Due: format, lint

fix: 🐛 align toc naming and heading parsing
  src/features/writings/writing-detail/mdx/section-title/heading-anchor-resolver.ts
  src/features/writings/writing-detail/toc/toc.tsx
Due: format, lint

fix: 🐛 address gemini toc parser feedback
  src/features/writings/writing-detail/mdx/section-title/heading-anchor-resolver.ts
  src/features/writings/writing-detail/mdx/section-title/markup-section-title-plugin.ts
  src/features/writings/writing-reader/toc-resolver.test.ts
  src/features/writings/writing-reader/toc-resolver.ts
Due: format, lint

chore: 🔧 align Node.js with Active LTS 24
  .node-version
  package.json
Due: format
